.fighter-preview___root {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    height: 100%;
}

.fighter-preview___right {
    align-items: flex-end;
}

.fighter-preview___left {
    align-items: flex-start;
}

.fighter-preview___img {
    height: 100%;
}

.fighter-preview___right .fighter-preview___img {
    transform: rotateY(190deg);
    -webkit-transform: rotateY(190deg);
    -moz-transform: rotateY(190deg);
    -ms-transform: rotateY(190deg);
    -o-transform: rotateY(190deg);
}

.fighter-preview___info {
    background-color: #ffdfa7;
    box-sizing: border-box;
    width: 200px;
    padding: 5px 10px;
    margin: 0;
    border: 5px solid #ca9650;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.fighter-preview___info p {
    margin: 0;
    font-size: 14px;
    text-transform: lowercase;
}

.fighter-preview__details {
    font-family: 'Comic Relief', system-ui;
    font-weight: 700;
    color: #000;
    -webkit-text-fill-color: #ba0303;
    -webkit-text-stroke-width: 1px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 5px;
}
