.modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
    background: #ffdfa7;
    border: 5px solid #ca9650;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 1rem;
    font-weight: 700;
    font-size: 22px;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-title {
    font-size: 36px;
    font-family: 'Comic Relief', system-ui;
    font-weight: 700;
    color: #000;
    -webkit-text-fill-color: #ba0303;
    -webkit-text-stroke-width: 2px;
    text-align: center;
    margin: 0;
}

.modal-winner {
    display: flex;
    flex-direction: column;
}

.modal-winner-name {
    font-size: 32px;
    font-family: 'Comic Relief', system-ui;
    font-weight: 700;
    color: #000;
    -webkit-text-fill-color: #ba0303;
    -webkit-text-stroke-width: 2px;
    text-align: center;
}

.modal-img {
    width: 100px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.5;
    cursor: pointer;
}
